{
  "extends": ["eslint:recommended"],
  "rules": {
    "no-unused-vars": "warn",
    "indent": ["error", 2],
    "no-multi-spaces": "error"
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  }
}